<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
               <div class="container-fluid">
                  <a class="navbar-brand" href="/">CCL</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse inline-flex justify-content-end" id="navbarSupportedContent">
                     <ul class="navbar-nav mb-2 mb-lg-0">
                         <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">The Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Testimonials</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Get in Touch</a></li>
                        <li class="nav-item">
                           <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="nav-link" href="">  <i class="bi bi-person-circle"></i></a>
                        </li>
                     </ul>
                  </div>
               </div>
            </nav>